body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.center-text {
  text-align: center;
}

.list-no-indent {
  padding-left: 0;
}

.list-color {
  color: #777a8d;
}

.alert.alert-success {
  display: none;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.alert.alert-danger {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
